# temporary files
*.asv
*.ipynb_checkpoints*
*__pycache__*
*.DS_Store

# figures - must be uploaded directly to GitHub
figures/

# .zip folders of study area shapefiles
inputs-outputs/*.zip

# PyCharm files
.idea*

# Individual images for gif
figures/SouthCascadeGlacier_example_results_gif/

# drafts, random notebooks, etc.
notebooks/drafts_untested/
notebooks/test_data_files.ipynb