# temporary files
*.asv
*.ipynb_checkpoints*
*__pycache__*
*.DS_Store

# .zip folders of study area shapefiles
Inputs-outputs/*.zip

# PyCharm files
.idea*

# Scripts for running on cluster
scripts/example_slurm_*.bash
scripts/slurm_*.bash

# Individual images for gif
figures/SouthCascadeGlacier_results_gif/20*.png

# drafts, random notebooks, etc.
notebooks/drafts_untested/